#laCalculadora{

    text-align: center;
    font-family: "Verdana";
    size: 200;
}
.boton{
    width: 90px;height: 30px;
    background-color:whitesmoke;
    border-radius: .10 em;
    cursor: pointer;
    text-align: center;
    color: black;
}


.numero{
    text-align: right;
}